.productsDIV {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 3%;
}

.aProductCard {
  border: 2px solid rgb(210, 234, 201);
  margin-top: 20px;
  width: 300px;
  text-align: center;
}
.aProductCard > img {
  width: 150px;
}
.aProductCard button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
}

.buttons_Sec > button {
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
}







.orderCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
}

.orderCard h3 {
  margin: 0 0 8px;
}

.orderCard ul {
  list-style-type: disc;
  padding-left: 20px;
}

.orderCard p {
  margin: 4px 0;
}
