main {
  /* border: 3px solid red; */
  padding: 10px;
}
.heading {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .deliveryForm {
  border: 1px dotted green;
} */
/* .deliveryForm > div {
  border: 1px dotted red;
} */
.deliveryForm > div > label {
  display: inline-block;
  /* border: 2px solid; */
  width: 100px;
  text-align: left;
  padding-right: 10px;
}
.deliveryForm > div > input {
  padding: 6px 10px;
}
.PlaceOrder {
  border: none;
  padding: 10px 20px;
  background-color: rgb(68, 148, 148);
  color: white;
  cursor: pointer;
  margin-top: 6px;
}
.PlaceOrder:hover {
  transform: scale(0.98);
}

/* ---------------------cart product */
.allCart_Products_container {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3%;
  padding: 10px;
  margin-top: 15px;
}
.allCart_Products_container > div {
  /* border: 2px solid; */
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
}

.allCart_Products_container > div img {
  /* border: 2px solid green; */
  display: block;
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.allCart_Products_container > div > h2 {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 16px;
}

/* summary */
.summary {
  /* border: 1px solid black; */
  text-align: center;
  padding: 20px 0;
  /* display: flex; */
}

/* ordersSection */
.ordersSection {
  /* border: 2px dotted blue; */
  padding: 10px;
}
.singleOrder {
  border: 1px dotted rgb(237, 232, 232);
  margin-top: 30px;
  text-align: left;
}
.singleProduct {
  border: 1px solid rgb(206, 198, 198);
  /* margin-top: 20px; */
  width: 300px;
  text-align: center;
  display: inline-block;
  /* height: 400px; */
  margin-left: 20px;
  padding: 10px;
}
.singleProduct > img {
  /* border: 2px dotted rgb(68, 255, 0); */
  height: 200px;
}
