main {
  /* border: 3px solid red; */
  padding: 10px;
}
.heading {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  padding: 15px 5px 5px 10px;
}
.cartSummaryDiv > h1 {
  border-bottom: 2px solid;
  display: inline-block;
  text-decoration: underline;
}
.deliveryDetails {
  /* border-bottom: 2px solid; */
  margin-top: 3%;
  display: inline-block;
  text-decoration: underline;
}

.deliveryForm > div {
  /* border: 2px solid; */
  padding: 6px 0;
}
.deliveryForm > div > label {
  display: inline-block;
  /* border: 2px solid; */
  width: 100px;
  text-align: left;
  padding-right: 10px;
}
.deliveryForm > div > input {
  padding: 6px 10px;
}
.PlaceOrder {
  border: none;
  padding: 10px 20px;
  background-color: rgb(68, 148, 148);
  color: white;
  cursor: pointer;
  margin-top: 2%;
  border-radius: 3px;
}
.PlaceOrder:hover {
  transform: scale(0.98);
}

/* ---------------------cart product */
.allCart_Products_container {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 3%;
  padding: 10px;
  margin-top: 15px;
}
.allCart_Products_container > div {
  border: 1px solid rgb(206, 198, 198);
  /* width: 250px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5px 20px 5px;
  border-radius: 3px;
}

.allCart_Products_container > div img {
  /* border: 2px solid green; */
  display: block;
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 3px;
}
.allCart_Products_container > div > h2 {
  /* border: 2px solid; */
  border-radius: 3px;

  margin: 0;
  padding: 0;
  margin-top: 3px;
  font-size: 16px;
}

/* summary */
.summary {
  /* border: 1px solid black; */
  text-align: center;
  padding: 20px 0;
  /* display: flex; */
}

/* ordersSection */
.ordersSection {
  /* border: 2px dotted blue; */
  padding: 10px;
}
.aPlacedOrder_Div {
  /* border: 1px dotted red; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  margin-top: 40px;
  text-align: left;
  padding: 15px 5px;
  background-color: azure;
}
.single_Placed_Product_DetailsDiv {
  /* border: 1px solid rgb(0, 255, 55); */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: inline-block;
  margin-left: 2%;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}
.single_Placed_Product_DetailsDiv > img {
  /* border: 1px dotted red; */
  width: 230px;
  height: 200px;
  object-fit: contain;
}
.singleProduct select {
  margin: 15px 0;
  text-align: center;
}
.singleProduct button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(243, 83, 83);
  color: white;
}
.singleProduct button:hover {
  transform: scale(0.97);
}
